body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

h1{
  margin:20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:10px;
  padding:10px;
}

.col{
  background:#1e293b;
  padding:10px;
  border-radius:10px;
}

.hero{
  background:#334155;
  margin:5px 0;
  padding:5px;
  border-radius:8px;
  cursor:pointer;
  transition:0.2s;
}

.hero:hover{
  transform:scale(1.05);
  background:#475569;
}

.hero img{
  width:100%;
  border-radius:8px;
}

.panel{
  margin:20px;
  padding:20px;
  background:#111827;
  border-radius:10px;
}